<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
  <% include header %>
  <div class="container">
    <h2>使用者資料</h2>
    <table class="table table-bordered">
      <tr>
        <th>id</th>
      </tr>
        <tr>
          <td><%= id %></td>
        </tr>
    </table>
  </div>
</body>
</html>